<nav th:fragment="nav_bar" class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Biblioteca</a>
        <div class="collapse navbar-collapse" >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/autores/">Autores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/libros/">Libros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/categorias/">Categorias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/editoriales/">editoriales</a>
                </li>
            </ul>
        </div>
    </div>
</nav>